<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMap2);
  </script>
<% end %>

<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= form.label :time2leave %>  -->
    Enter your leaving date and time:
    <%= form.label :time2leave %>
    <%= form.number_field :time2leave, type: "datetime-local", required: true %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    
    <%= form.text_field :latitude, type: "number", required: true, min: "-90", max: "90", step: "any", value: "40.807501" %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    
    <%= form.text_field :longitude, type: "number",required: true, min: "-180", max: "180", step: "any", value: "-73.962601" %>
  </div>

  <p>
    <div id="map2"></div>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
